@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
	<div class="navbar-nav">
		<div class="container-fluid">
			<btn class="text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</btn>

			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
				<button type="submit" class="nav-link btn btn-outline-danger text-dark">Logout</button>
			</form>
		</div>
	</div>
}
else
{
	<div class="navbar-nav">
		<div class="container-fluid">
			<div class="row pt-1 pl-0 pb-2">
				<div class="offset-4 col-4">
					<a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
				</div>
				<div class="col-4">
					<a class="btn btn-outline-success" asp-area="Identity" asp-page="/Account/Login">Login</a>
				</div>
			</div>
			

		</div>
	</div>
}


