@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Portal</h1>

<div class="row">
	<div class="col-6 mt-4">
		<a href="./Admin/AdministerUser">
			<div class="card">
				<div class="card-body">
					Users
				</div>
			</div>
		</a>
	</div>

	<div class="col-6 mt-4">
		<a href="#">
			<div class="card">
				<div class="card-body">
					Skills
				</div>
			</div>
		</a>
	</div>

	<div class="col-6 mt-4">
		<a href="#">
			<div class="card">
				<div class="card-body">
					Assessments
				</div>
			</div>
		</a>
	</div>
</div>

@section Scripts{
	@*<script type="text/javascript">

			//Script goes here

		</script>*@
}
